.explanation {
  padding: 20px;
}

.explanation-text {
  font-size: 15px;
  line-height: 40px;
  margin-top: 20px;
  color: var(--color-text);
}

@media only screen and (min-width: 768px) {
  .explanation {
    padding: 100px;
  }

  .explanation-text {
    font-size: 35px;
    color: var(--color-text-gray);
  }
}
