.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-logo {
  width: 10%;
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}
