.header {
  position: fixed;
  background-color: var(--color-background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
}

.links {
  display: flex;
}

.links li {
  display: flex;
}

.header-logo {
  width: 100%;
  margin: 20px;
}

.nav-link {
  color: var(--color-text-dark);
  text-decoration: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono light Italic";
}

.logo-link {
  text-align: right;
  width: 130px;
}

.nav-link:hover {
  border-bottom: 1px solid var(--color-text-dark);
}

.nav-link:visited {
  color: var(--color-text-dark);
}

.header ul {
  list-style-type: none;
}

.hidden-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hidden-mobile {
    display: flex;
  }
  .hidden-desktop {
    display: none;
  }
  .set-language {
    margin-right: 40px;
  }
}
