.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: 75% 100%;
  background-repeat: none;
  width: 100vw;
  min-height: calc(100vh - 90px);
}
.hero-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.hero-logo {
  width: 60%;
}

.hero-title {
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-position: 100% 100%;
  }
}
