.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: 75% 100%;
  background-repeat: none;
  width: 100vw;
  min-height: calc(100vh - 90px);
}
.hero-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  height: 80vh;
}

.hero-logo {
  width: 100%;
}

.hero-title {
  color: #fff;
  font-family: "IBM Plex Mono Bold Italic";
}

.hero-title-2 {
  color: #fff;
  font-family: "IBM Plex Mono Light Italic";
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-position: 100% 100%;
  }

  .hero-content-container {
    justify-content: center;
  }
  .hero-logo {
    width: 60%;
  }
}
