.partenaires {
  background-color: #fff;
}

.partenaires h4 {
  color: var(--color-highlight);
  font-size: 20px;
}

.partner-link:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .partenaires {
    padding: 50px 100px;
  }
  .partenaires h4 {
    padding: 40px 40px 20px 40px;
    margin: 0;
    font-size: 25px;
  }
}
