#slider-element {
  overflow: hidden;
}

.slide-image-container {
  width: 90vw;
  /* padding: 0 5vw; */
}

.slide-image {
  width: inherit;
}

.slider-container {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 80px;
}

.control-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
}

.image-slider {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  bottom: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  animation: image-slider 30s ease infinite;
  animation-delay: 0s;
}

.controls {
  font-size: 35px;
  color: transparent;
  background-color: transparent;
}

.control-container:hover .controls {
  background-color: rgba(252, 250, 250, 0.3);
  font-size: 35px;
  padding: 0 10px;
  color: #fff;
  transition: background-color 250ms ease;
}

.control-container:hover .controls:hover {
  background-color: rgba(252, 250, 250, 0.7);
  transition: background-color 250ms ease;
}

@keyframes image-slider {
  0% {
    margin-left: 0;
  }

  10% {
    margin-left: -100%;
  }

  20% {
    margin-left: -200%;
  }

  30% {
    margin-left: -300%;
  }

  40% {
    margin-left: -400%;
  }

  50% {
    margin-left: -500%;
  }

  60% {
    margin-left: -600%;
  }

  70% {
    margin-left: -700%;
  }

  80% {
    margin-left: -800%;
  }

  90% {
    margin-left: -900%;
  }

  100% {
    margin-left: -1000%;
  }
}
