.usp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: calc(100vh - 90px);
}

.usp-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 30px;
  color: var(--color-text-gray);
}

.usp-link {
  background-color: #000;
  color: var(--color-highlight);
  text-transform: uppercase;
  padding: 10px 0;
  width: 200px;
  text-decoration: none;
  text-align: center;
  font-family: "Futura";
}

.usp-intro-image {
  width: 200px;
  margin: auto;
}

.usp-intro-text {
  width: 200px;
  text-align: center;
  font-family: "IBM Plex Mono light Italic";
}

@media only screen and (min-width: 768px) {
  .usp {
    flex-direction: row;
    justify-content: center;
  }
}
