.usp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: calc(100vh - 90px);
  padding-top: 60px;
}

.usp-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin: 0 30px;
  color: var(--color-text-gray);
}

.usp-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usp-link {
  background-color: #000;
  color: var(--color-highlight);
  text-transform: uppercase;
  padding: 10px 0;
  width: 100%;

  text-align: center;
  font-family: "Futura";
}

a h3 {
  text-decoration: none;
}

a h3:visited {
  text-decoration: none;
}
.usp-intro-image {
  width: 100%;
  margin: auto;
}

.usp-intro-text {
  width: 100%;
  text-align: center;
  font-family: "IBM Plex Mono light Italic";
  font-size: 15px;
  line-height: 35px;
}

@media only screen and (min-width: 768px) {
  .usp {
    flex-direction: row;
    justify-content: center;
  }
  .usp-intro {
    width: 20vw;
  }
}
